<div class="player-img">
    <mat-icon aria-hidden="false" aria-label="Example profile icon">face</mat-icon>
</div>

<div class="player-name">
    {{ data.firstName }} {{ data.lastName }}
</div>

<ul class="player-info">
    <li>
        <span>Games Played:</span>
        <span>{{ data.gamesPlayed }}</span>
    </li>
    <li>
        <span>Games Won:</span>
        <span>{{ data.gamesWon }}</span>
    </li>
</ul>

<div class="controls">
    <button mat-raised-button color="accent" (click)="onNoClick()">Close</button>
</div>