.player-img {
    width: 100%;
    text-align: center;

    .mat-icon {
        font-size: 150px;
        height: 150px;
        width: 150px;
    }
}

.player-name {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}

.player-info {
    list-style-type: none;
    margin: 1em auto;
    padding: 0;
    width: 50%;

    li {
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: space-between;
    }
}

.controls {
    width: 100%;
    text-align: center;
}