<mat-toolbar color="primary"></mat-toolbar>

<section class="content">
  <app-players-list
    [activePlayer]="activePlayer"
    [gameDetails]="gameDetails$ | async"
    [players]="players$ | async"
    (selectPlayer)="onSelectPlayer($event)"
  ></app-players-list>
</section>
