.grid-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

.game-details {
    .mat-table {
        background: #c5cae9;
    }
}

.player__name {
    text-transform: capitalize;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.player--active {
    background-color: #c5cae9;
}

.flex-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .player__name {
        width: 100%;
        text-align: center;
    }

    .player__name--winner {
        background-color: #c8e6c9;
    }

    .player__name--loser {
        background-color: #ffcdd2;
    }
}