<div class="grid-container">
    <section>
        <mat-table [dataSource]="players">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let player"> 
                    <span (click)="openDialog(player)" class="player__name">
                        {{ player.firstName }} {{ player.lastName }}
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="stats">
                <mat-header-cell *matHeaderCellDef> Played / Won </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{ player.gamesPlayed }} / {{ player.gamesWon }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef> Select </mat-header-cell>
                <mat-cell *matCellDef="let player">
                    <button mat-raised-button color="accent" (click)="onSelectPlayer(player.uid)">Select Player</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="playersDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: playersDisplayedColumns;" [ngClass]="{'player--active': isPlayerActive(row) }"></mat-row>
        </mat-table>
    </section>
    <section class="game-details">
        <mat-progress-bar mode="indeterminate" *ngIf="!gameDetails && activePlayer"></mat-progress-bar>
        <mat-table [dataSource]="gameDetails" *ngIf="gameDetails">
            <ng-container matColumnDef="winner">
                <mat-header-cell *matHeaderCellDef> Winner </mat-header-cell>
                <mat-cell *matCellDef="let game" class="flex-cell">
                    <span class="player__name player__name--winner" (click)="openWinnerDialog(game)">{{ getWinnerName(game) }}</span>
                    <span>{{ game.winnerScore }}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="loser">
                <mat-header-cell *matHeaderCellDef> Loser </mat-header-cell>
                <mat-cell *matCellDef="let game" class="flex-cell">
                    <span class="player__name player__name--loser" (click)="openLoserDialog(game)">{{ getLoserName(game) }}</span>
                    <span>{{ game.loserScore }}</span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="gameDetailsDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: gameDetailsDisplayedColumns;"></mat-row>
        </mat-table>
    </section>
</div>