/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    &:active,
    :focus {
    outline: none !important;
    }
}